html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::-webkit-input-placeholder {
  color: #666;
}

:-ms-input-placeholder {
  color: #666;
}

::-ms-input-placeholder {
  color: #666;
}

::placeholder {
  color: #666;
}

body {
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  color: #333;
}

img,
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

img.img-width,
.img-responsive.img-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

b, strong {
  font-weight: bold;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

a, button, input {
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: 700;
}

p {
  margin-top: 0;
  color: #888;
}

button {
  border: none;
  outline: none;
}

button:focus {
  outline: none;
}

.section {
  padding: 50px 0;
}

.modal-open {
  overflow: hidden;
}

.loader {
  background: #fff url("../img/roket1.gif") no-repeat center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.page-header {
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  position: fixed;
  padding: 15px 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}

.page-header.scroll {
  padding: 5px 0;
}

.header-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  max-width: 250px;
  margin-right: 10px;
}

.language-buttons {
  margin-left: auto;
}

.language-buttons a {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  border: 2px solid #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 16px;
  opacity: 0.7;
}

.language-buttons a:hover {
  opacity: 0.9;
}

.menu-btn {
  color: #fff;
  margin-left: 40px;
  position: relative;
  z-index: 20;
}

.menu-btn p {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  color: #ccc;
  margin-right: 15px;
  text-transform: uppercase;
  font-size: 20px;
}

.menu-btn .menu-toggle {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  cursor: pointer;
}

.menu-btn .menu-toggle:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.sandwich {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  z-index: 100;
}

.sandwich span {
  position: relative;
  width: 34px;
  height: 4px;
  background: #fff;
  border: none;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  display: block;
}

.sandwich .sw-topper {
  top: 4px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
}

.sandwich .sw-bottom {
  top: 12px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.2s, 0s;
       -o-transition-delay: 0.2s, 0s;
          transition-delay: 0.2s, 0s;
}

.sandwich .sw-footer {
  top: 20px;
  background: #fff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.1s;
       -o-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.sandwich.active .sw-topper {
  top: 16px;
  -webkit-transform: rotate(140deg);
      -ms-transform: rotate(140deg);
          transform: rotate(140deg);
}

.sandwich.active .sw-bottom {
  -webkit-transform: rotate(-140deg);
      -ms-transform: rotate(-140deg);
          transform: rotate(-140deg);
}

.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hidden-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.hidden-menu.active {
  opacity: 1;
  visibility: visible;
}

.hidden-menu.active li {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.hidden-menu-list {
  margin: auto 0;
  width: 100%;
  padding: 0;
  list-style-type: none;
  position: relative;
  z-index: 1;
}

.hidden-menu-list li {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
}

.hidden-menu-list a {
  display: block;
  color: #fff;
  padding: 15px 0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.hidden-menu-list a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.hero-section {
  position: relative;
  padding-top: 30px;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-background-size: cover;
          background-size: cover;
  min-height: 100vh;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  text-align: center;
  color: #fff;
  opacity: 0.8;
}

.hero-text .subject-name {
  border: 10px solid #c6b497;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  padding: 20px;
  margin-bottom: 30px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.hero-text h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  font-size: 26px;
}

.hero-text p {
  color: #c6b497;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.arrow-down {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 60px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -25px;
  -webkit-animation: bounce 0.3s linear alternate infinite;
          animation: bounce 0.3s linear alternate infinite;
  z-index: 1;
  text-align: center;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
}

.arrow-down .fa {
  font-size: 30px;
}

.arrow-down:hover {
  color: #fff;
}

@-webkit-keyframes bounce {
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes bounce {
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

.section-header {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 45px;
}

.section-header h2 {
  font-size: 24px;
}

.section-header p {
  font-size: 12px;
  color: #222;
  letter-spacing: 3px;
  margin-bottom: 0;
}

.section-header::after {
  content: "";
  width: 100px;
  height: 2px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -50px;
}

.section-header--dark {
  color: #fff;
}

.section-header--dark p {
  color: #fff;
}

.djinni-icon {
  margin-right: 0;
  vertical-align: middle;
  display: inline-block;
  margin-left: -5px;
  height: 38px;
  width: 40px;
}

.djinni-icon-tomato {
  background: url(../img/djinni-icon-tomato.png) no-repeat 0px -1px;
  -webkit-background-size: 40px 38px;
          background-size: 40px 38px;
}

.djinni-icon-blue {
  background: url(../img/djinni-icon-blue.png) no-repeat 0px -1px;
  -webkit-background-size: 40px 38px;
          background-size: 40px 38px;
}

.my-photo a {
  outline: none;
}

.my-photo img {
  display: block;
  margin: auto;
  width: 90%;
  border: 5px solid #888;
  -webkit-border-radius: 15px;
          border-radius: 15px;
}

.my-photo-wrapper h3 {
  text-align: center;
}

.about-me-item {
  margin-bottom: 40px;
}

.about-me-item h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #888;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 25px;
}

.about-me-item h4 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 20px;
}

.about-me-item h5 {
  font-size: 16px;
  margin: 0;
  margin-bottom: 5px;
  color: #222;
}

.about-me-item .social {
  margin-top: 30px;
}

.about-me-item .social a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
}

.about-me-item .social a:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.about-me-item .social a:last-child {
  margin-right: 0;
}

.about-me-item ul {
  margin: 0;
  list-style-type: circle;
}

.about-me-item li {
  color: #888;
}

.about-me-item a:hover {
  text-decoration: underline;
}

.section-resume {
  background-color: #f7f7f7;
}

.resume-period {
  display: inline-block;
  padding: 7px 15px;
  margin-bottom: 15px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #fff;
}

.resume-work-wrapper {
  border-right: 1px solid #d2d2d2;
}

.resume-work,
.resume-study {
  padding: 15px 20px;
}

.resume-work h2,
.resume-study h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.resume-work .resume-icon,
.resume-study .resume-icon {
  margin-bottom: 25px;
}

.resume-work .resume-icon span,
.resume-study .resume-icon span {
  color: #222;
}

.resume-item {
  margin-bottom: 30px;
}

.resume-item h3 {
  margin-bottom: 15px;
}

.resume-item span {
  color: #888;
  font-style: italic;
}

.resume-work {
  text-align: right;
}

.section-portfolio {
  color: #fff;
  background-color: #222;
}

.filter-buttons {
  text-align: center;
  margin-bottom: 30px;
}

.filter-btn {
  display: inline-block;
  font-size: 12px;
  padding: 8px 5px;
  letter-spacing: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  margin-bottom: 4px;
  margin-right: 15px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid transparent;
}

.filter-btn:hover {
  color: #fff;
}

.filter-btn:last-child {
  margin-right: 0;
}

.portfolio-item {
  position: relative;
  text-align: center;
  overflow: hidden;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.portfolio-item:hover .portfolio-item-descr {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.portfolio-item-descr {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 0;
  bottom: 0;
  z-index: 2;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-item-descr h4 {
  font-weight: normal;
  text-transform: uppercase;
}

.portfolio-item-descr p {
  padding: 0 25px;
}

.portfolio-item-descr a {
  display: inline-block;
  padding: 5px 20px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  margin-top: 10px;
}

.portfolio-item-descr a:hover {
  color: #fff;
  border-color: #fff;
}

.section-contacts {
  background-color: #f7f7f7;
}

.contacts {
  padding: 50px 0 20px;
}

.contact-item {
  margin-bottom: 40px;
}

.contact-icon {
  display: inline-block;
  vertical-align: top;
  width: 60px;
  text-align: center;
  margin-right: 15px;
}

.contact-text {
  display: inline-block;
  vertical-align: top;
}

.contact-text h3 {
  margin-top: 3px;
  font-size: 16px;
}

.contact-text a:hover {
  text-decoration: underline;
}

.contact-form {
  padding: 20px 0;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px 15px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #888;
  outline: none;
}

.contact-form .form-button {
  text-align: right;
}

.contact-form button {
  padding: 10px 25px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}

.contact-form button:hover {
  opacity: 0.8;
}

.page-footer {
  background-color: #222;
}

.footer-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-copy {
  color: #888;
}

.footer-social {
  margin-right: 70px;
}

.footer-social a {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.footer-social a:hover {
  opacity: 0.8;
}

.footer-social a:first-child {
  margin-left: 0;
}

.to-top-btn {
  z-index: 50;
  position: fixed;
  opacity: 0.6;
  right: -100px;
  bottom: 20px;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  padding: 0;
  width: 45px;
  height: 45px;
  border: none;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.to-top-btn .fa {
  font-size: 32px;
  line-height: 30px;
  color: #222;
}

.to-top-btn.active {
  right: 20px;
}

.to-top-btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 991px) {
  .about-me-right {
    text-align: center;
  }
  .about-me-right .personal-info {
    display: inline-block;
    text-align: left;
  }
}

@media only screen and (max-width: 767px) {
  .section {
    padding: 40px 0;
  }
  .header-logo {
    max-width: 200px;
  }
  .menu-btn {
    margin-left: 15px;
  }
  .language-buttons a {
    padding: 3px 7px;
    font-size: 14px;
  }
  .hero-text {
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 370px;
  }
  .hero-text h1 {
    font-size: 22px;
  }
  .about-me-item .social {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .about-me-left h3 {
    text-align: center;
  }
  .skills {
    text-align: center;
  }
  .skills ul {
    display: inline-block;
    text-align: left;
  }
  .about-me-right {
    text-align: left;
    margin-bottom: 0;
  }
  .about-me-right .personal-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .personal-info h3, .personal-info h4 {
    text-align: center;
    width: 100%;
  }
  .personal-info p {
    width: 50%;
    text-align: center;
  }
  .resume-work-wrapper {
    border-right: 0;
    border-bottom: 1px solid #d2d2d2;
  }
  .resume-work,
  .resume-study {
    text-align: center;
  }
  .resume-study {
    padding-top: 40px;
  }
  .portfolio-item {
    margin-bottom: 15px;
  }
  .contacts {
    padding: 0 10%;
  }
  .contact-item {
    margin-bottom: 20px;
  }
  .contact-form {
    padding: 0 10% 40px;
  }
}

@media only screen and (max-width: 576px) {
  .parallax-mirror {
    display: none;
  }
  .portfolio-item {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
  }
  .portfolio-item-descr {
    left: 15;
    right: 15;
  }
}

@media only screen and (max-width: 480px) {
  .header-logo {
    max-width: 150px;
  }
  .language-buttons a {
    padding: 2px 4px;
    font-size: 12px;
  }
  .menu-btn p {
    display: none;
  }
  .hero-text {
    width: 280px;
  }
  .hero-text h1 {
    font-size: 20px;
  }
  .personal-info p {
    width: 100%;
  }
  .contacts,
  .contact-form {
    padding-left: 0;
    padding-right: 0;
  }
  .footer-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer-copy {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer-social {
    margin-right: 0;
    margin-bottom: 20px;
    oredr: 0;
  }
}
