@import "vars";



@media only screen and (max-width : 991px) {
	.about-me-right {
		text-align: center;
		.personal-info {
			display: inline-block;
			text-align: left;
		}
	}
}


@media only screen and (max-width : 767px) {
	.section {
		padding: 40px 0;
	}
	.header-logo {
		max-width: 200px;
	}
	.menu-btn {
		margin-left: 15px;
	}
	.language-buttons {
		a {
			padding: 3px 7px;
			font-size: 14px;
		}
	}
	.hero-text {
		transform: translate(-50%, -50%);
		width: 370px;
		h1 {
			font-size: 22px;
		}
	}
	.about-me-item {
		.social {
			width: 100%;
			text-align: center;
			margin-top: 20px;
		}
	}
	.about-me-left {
		h3 {
			text-align: center;
		}
	}
	.skills {
		text-align: center;
		ul {
			display: inline-block;
			text-align: left;
		}
	}
	.about-me-right {
		text-align: left;
		margin-bottom: 0;
		.personal-info {
			display: flex;
			flex-wrap:wrap;
		}
	}
	.personal-info {
		h3, h4 {
			text-align: center;
			width: 100%;
		}
		p {
			width: 50%;
			text-align: center;
		}
	}
	.resume-work-wrapper {
		border-right: 0;
		border-bottom: 1px solid #d2d2d2;
	}
	.resume-work,
	.resume-study {
		text-align: center;
	}
	.resume-study {
		padding-top: 40px;
	}
	.portfolio-item {
		margin-bottom: 15px;
	}
	.contacts {
		padding: 0 10%;
	}
	.contact-item {
		margin-bottom: 20px;
	}
	.contact-form {
		padding: 0 10% 40px;
	}

}


@media only screen and (max-width : 576px) {
	.parallax-mirror{
		display: none;
	}
	.portfolio-item {
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 20px;
	}
	.portfolio-item-descr {
		left: 15;
		right: 15;
	}
}


@media only screen and (max-width : 480px) {
	.header-logo {
		max-width: 150px;
	}
	.language-buttons {
		a {
			padding: 2px 4px;
			font-size: 12px;
		}
	}
	.menu-btn {
		p {
			display: none;
		}
	}
	.hero-text {
		width: 280px;
		h1 {
			font-size: 20px;
		}
	}
	.personal-info {
		p {
			width: 100%;
		}
	}
	.contacts, 
	.contact-form {
		padding-left: 0;
		padding-right: 0;
	}
	.footer-inner {
		flex-direction: column;
		text-align: center;
	}
	.footer-copy {
		order: 1;
	}
	.footer-social {
		margin-right: 0;
		margin-bottom: 20px;
		oredr: 0;
	}
}